p {
    font-weight: 900;
    color: rgb(27, 27, 31);
    text-align: center;
}

h1 {
    font-size: 4rem;
    color: rgb(230, 226, 235);
    text-align: center;
    font-weight: 900;
}

body {
    background: white url("images/gif.gif") repeat;
}